
<!--  -->
<html>
<head>
	<style>
	</style>
</head>
<body class="main-page">
	<div class="sign-in-page">
	<%= form_for :session, url: sessions_path do |form| %>
		<%= error_messages_for(@session) %>
        <fieldset>
          <div class="control-group">
          	<div class="controls">
            	<span class="sign-in-lbl">Sign in</span>
            	<span class="text-right">
            		<%= link_to t(:forgot_password), new_password_path, class: 'link-url'%>
            	</span>
            </div>
          </div>    
          <div class="control-group">
            <div class="controls">
				  <%= form.text_field :email, placeholder: "Email", class: "form-control"%>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
            	<%= form.password_field :password, placeholder: "Password", class: "form-control"%>
            </div>
          </div>

          <div class="control-group">
            <!-- Button -->
            <div class="controls">
              <%= form.submit t(:sign_in), class:"sign-in-btn"%> 
            </div>
          </div>
          <div class="control-group">
          	<div class="controls">
          		<span>Don't have an account? <%= link_to t(:sign_up), signup_path, class: 'link-url'%></span>
          	</div>
          </div>
        </fieldset>
      <% end %>
     </div>
</body>
</html>

