<!--  -->
<html>
<head>
  <style>

  </style>
</head>
<body class="main-page">
  <div class="sign-in-page">
  <%= form_for @user do |form| %>
        <fieldset>
          <div class="control-group">
            <div class="controls">
              <span class="sign-in-lbl">Create your Besthires account</span>
            </div>
          </div>    
           <%= error_messages_for(@user) %>
          <div class="control-group">
            <div class="controls">
              <%= form.text_field :first_name, placeholder: "First Name", class: "form-control"%>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <%= form.text_field :last_name, placeholder: "Last Name", class: "form-control"%>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <%= form.collection_select :id, Country.all, :id, :display_name, {:include_blank => 'Select a Country'}, {:class => 'form-control'} %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <%= form.text_field :email ,placeholder: "Email",  error: form.object.errors[:email].first.try(:html_safe), validate: true, class: "form-control"%>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <%= form.password_field :password, placeholder: "Password", validate: true, hint: t(:password_hint), class: "form-control"%>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <%= form.password_field :password_confirmation, placeholder: "Re-type Password", validate: true, hint: t(:password_hint), class: "form-control"%>
            </div>
          </div>

          <div class="control-group">
            <!-- Button -->
            <div class="controls">
              <%= form.submit t(:sign_up), class:"sign-up-btn"%> 
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <span><%= t(:have_an_account)%> <%= link_to 'Sign in', login_path, class: 'link-url' %></span>
            </div>
          </div>
        </fieldset>
      <% end %>
     </div>
</body>
</html>
