<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<br>
<%= button_to 'Logout', session_logout_path, method: :delete %> 

<h2>Watson Result</h2>

<div>
  <div class="summary--emotion">
    <h5 class="base--h5 summary--header">Emotion</h5>
    <p class="base--p summary--score-desc">
      &lt; .5 = not likely present <br> &gt; .5 = likely present <br> &gt; .75 = very likely present <br>
    </p>
    <% @emotion_tones_hash.each do |emotion,score| %>
    	<div class="bar-graph--row summary-emotion-graph--row">
    		<div class="bar-graph--label-container summary-emotion-graph--label-container">
  				<div class="bar-graph--label">
    				<p class="base--p">
      					<%= emotion %>
    				</p> 
  				</div>
			</div>
		
    		<div class="bar-graph--bar-container summary-emotion-graph--bar-container">
	        	<div class="bar-graph--bar">
	            	<div class="bar-graph--bar-value summary-emotion-graph--bar-value summary-emotion-graph--bar-value_<%=emotion%>" style="width: <%= (score*100) %>%;"></div>
	          	</div>
    		</div>
    		<div class="summary-emotion-graph--percentage-label">
      			<%= score.to_s()[0..3] %>
    		</div>
    	</div>
  	<% end %>
  </div>


  <div class="summary--writing">
    <h5 class="base--h5 summary--header">Language Style</h5>
    <p class="base--p summary--score-desc">
      &lt; .5 = not likely present <br> &gt; .5 = likely present <br> &gt; .75 = very likely present <br>
    </p>
    <% @language_tones_hash.each do |emotion,score| %>
    	<div class="bar-graph--row summary-writing-graph--row">
    		<div class="bar-graph--label-container summary-writing-graph--label-container">
  				<div class="bar-graph--label">
    				<p class="base--p">
      					<%= emotion %>
    				</p> 
  				</div>
			</div>
		
    		<div class="bar-graph--bar-container summary-writing-graph--bar-container">
	        	<div class="bar-graph--bar">
	            	<div class="bar-graph--bar-value summary-writing-graph--bar-value summary-writing-graph--bar-value_<%=emotion%>" style="width: <%= (score*100) %>%;"></div>
	          	</div>
    		</div>
    		<div class="summary-writing-graph--percentage-label">
      			<%= score.to_s()[0..3] %>
    		</div>
    	</div>
  	<% end %>
  </div>


  <div class="summary--social">
    <h5 class="base--h5 summary--header">Social Tendencies</h5>
    <p class="base--p summary--score-desc">
      &lt; .5 = not likely present <br> &gt; .5 = likely present <br> &gt; .75 = very likely present <br>
    </p>
    <% @social_tones_hash.each do |emotion,score| %>
    	<div class="bar-graph--row summary-social-graph--row">
    		<div class="bar-graph--label-container summary-social-graph--label-container">
  				<div class="bar-graph--label">
    				<p class="base--p">
      					<%= emotion %>
    				</p> 
  				</div>
			</div>
		
    		<div class="bar-graph--bar-container summary-social-graph--bar-container">
	        	<div class="bar-graph--bar">
	            	<div class="bar-graph--bar-value summary-social-graph--bar-value summary-social-graph--bar-value_<%=emotion%>" style="width: <%= (score*100) %>%;"></div>
	          	</div>
    		</div>
    		<div class="summary-social-graph--percentage-label">
      			<%= score.to_s()[0..3] %>
    		</div>
    	</div>
  	<% end %>
  </div>




  <% [[@openness_traits_hash, "Openness"], [@conscientiousness_traits_hash, "Conscientiousness"], [@extraversion_traits_hash, "Extraversion"], [@agreeableness_traits_hash, "Agreeableness"], [@emotional_range_traits_hash, "Emotional Range"], [@values_traits_hash, "Values"], [@needs_traits_hash, "Needs"]].each do |traits| %>

    <div class="summary--emotion">
      <h5 class="base--h5 summary--header"><%= traits[1] %></h5>
      <p class="base--p summary--score-desc">
        &lt; .5 = not likely present <br> &gt; .5 = likely present <br> &gt; .75 = very likely present <br>
      </p>
      <% traits[0].each do |emotion,score| %>
        <div class="bar-graph--row summary-emotion-graph--row">
          <div class="bar-common-graph--label-container summary-emotion-graph--label-container">
            <div class="bar-graph--label">
              <p class="base--p">
                  <%= emotion %>
              </p> 
            </div>
        </div>
      
          <div class="bar-graph--bar-container summary-emotion-graph--bar-container">
              <div class="bar-graph--bar">
                  <div class="bar-graph--bar-value summary-emotion-graph--bar-value summary-emotion-graph--bar-value_Agreeableness" style="width: <%= (score*100) %>%;"></div>
                </div>
          </div>
          <div class="summary-emotion-graph--percentage-label">
              <%= score.to_s()[0..3] %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>